<md-card *ngFor="let book of books">
  <md-card-header>
    <md-card-title>{{ book.volumeInfo.title }}</md-card-title>
    <md-card-subtitle>{{ book.volumeInfo.authors?.join(', ') }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{ book.volumeInfo.description }}
    </p>
  </md-card-content>
  <md-card-actions *ngIf="shelvedBooks">

    <button
    >
      ADD TO SHELF
    </button>

    <button
    >
      REMOVE FROM SHELF
    </button>

  </md-card-actions>
</md-card>
